.galeria {
    padding: 30px;
}

.galeriaJordan {
    @extend .galeria;
    background-color: rgba(0, 0, 0, 0.333);
}

.galeriaNike {
    @extend .galeria;
    background-color: rgba(0, 0, 0, 0.555);
}

.galeriaAdidas {
    @extend .galeria;
    background-color: rgba(0, 0, 0, 0.777);
}