.jordanAnimal {
    width: 186px;

    &:hover {
    width: 210px;
    height: 210px;
    border-radius: 100px;
    }
}

.jordanAnimalUno {
    @extend .jordanAnimal ;
}

.jordanAnimalDos{
    @extend .jordanAnimal;
}

.jordanAnimalTres{
    @extend .jordanAnimal;
}

.jordanAnimalCuatro{
    @extend .jordanAnimal;
}

.galeria img:hover {
    background-color: #ff4e00f8;
}