.productos {
    grid-area: producto;

    .imagen {
        margin: 10px;
        width: 500px;
        height: 500px;
        border-radius: 300px;
    }
}

.coder {
    width: auto;
    grid-area: coder;
}

