@mixin displayFlex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: center; 
}

.nosotros {
    grid-area: nosotros;
    @include displayFlex();
}

.enviosPagos {
    grid-area: enviosPagos;
    @include displayFlex();
}

.envios ul li {
    margin-left: 30px;
    list-style: none;
    font-size: 30px;
}

.mediosDePago {
    ol li {
    margin-left: 20px;
    list-style: none;
    font-size: 30px;
    }

    ul li {
    margin-left: 50px;
    }
}
