$estilo : (
   margin: 5px,
   ancho : 500px,
   alto : 400px,
   borderRadius : 80px, 
);

.novedades img {
    grid-area: novedades;
    margin: map-get($estilo, margin );
    width: map-get($estilo, ancho );
    height: map-get($estilo, alto );
    border-radius: map-get($estilo, borderRadius );
}