.stock {
    grid-area: stock;
}

.tabla table td {
    height: 60px;
    width: 150px;
    font-size: 30px;
}

.miniTienda {
    h1 {
        background-color: black;
        text-align: center;
        color: #ffffff;
    }
}