.titulo {
    font-size: 40px; 
    text-decoration: underline;

    background-image: linear-gradient(to right, $colorNaranja , $colorDesvanecido);
    width: auto;
    border-radius: 10px;
    padding-left: 5px;
}

.tituloDos {
    font-size: 40px; 
    text-decoration: underline;

    background-image: linear-gradient(to right, $colorDesvanecido, $colorNaranja , $colorNaranja , $colorDesvanecido);
    width: auto;
}

.subtitulo {
    font-size: 30px;
    text-decoration: underline;
    display: block;

    background-color: $colorSubtitulo;
    width: auto;
    border-radius: 10px;
}

.parrafo {
    margin: 20px;
    font-size: 30px;
}