.grilla {
    display: grid;
    grid-template-columns: 50% auto auto ;
    grid-template-rows: auto auto auto ;
    grid-template-areas: 
    "header header header header"
    "producto producto coder coder"
    "producto producto coder coder"
    "footer footer footer footer";
    gap: 30px;
    height: auto;
}

.grillaDos {
    display: grid;
    grid-template-columns: 33% auto auto;
    grid-template-rows:auto auto;
    grid-template-areas: 
    "header header header header"
    "novedades novedades novedades novedades"
    "novedades novedades novedades novedades"
    "footer footer footer footer "; 
    height: auto;
    gap: 30px;
}

.grillaTres {
    display: grid;
    grid-template-columns: 20% auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "header header header header"
    "nosotros nosotros enviosPagos enviosPagos"
    "nosotros nosotros enviosPagos enviosPagos"
    "footer footer footer footer";
    height: auto;
    gap: 30px;
}

.grillaCuatro {
    display: grid;
    grid-template-columns: 50% auto auto   ;
    grid-template-rows: auto auto  ;
    grid-template-areas: 
    "header header header header"
    "modelosUno modelosUno modelosDos modelosDos"
    "modelosUno modelosUno modelosDos modelosDos"
    "footer footer footer footer";
    width: 100%;
    height: auto;
    gap: 30px;
}

.grillaCinco {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "header header header header"
    "formulario formulario formulario formulario"
    "formulario formulario formulario formulario"
    "footer footer footer footer";
    height: 100%;
    gap: 30px;
}

.grillaSeis {
    display: grid;
    grid-template-columns: 50% auto auto ;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "header header header header"
    "devolucion formularioDos formularioDos formularioDos"
    "devolucion formularioDos formularioDos formularioDos" 
    "footer footer footer footer";
    height: auto;
    gap: 30px;
}

.grillaSiete {
    display: grid;
    grid-template-columns: 50% auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "header header header header"
    "stock stock stock stock"
    "footer footer footer footer";
    height: auto;
    gap: 30px;
}