.fondo {
    background-image: url(../assets/fondo-imagen.jpg);
    background-repeat: repeat-x repeat-y ;
}

.header {
    grid-area: header;
    width: 100%;
    height: 100px;
    
}

.menu {
    font-size: $fontVeinte;

    a {
    padding: 10px;
    color: $colorBlanco;
    }

    li :hover {
        color: ¿$colorBlanco;
        border-radius: 10px;
        background-color: $colorHover;
    }
}



 