.stock {
    grid-area: stock;
<<<<<<< HEAD

    .tabla table td {
    height: 60px;
    width: 150px;
    font-size: $fontTreinta;
    }
}
=======
}

.tabla table td {
    height: 60px;
    width: 150px;
    font-size: 30px;
}
>>>>>>> mundosneaker.4
