.titulo {
    font-size: 40px; 
    text-decoration: underline;

    background-image: linear-gradient(to right, #ff4e00f8 , #ffffff38);
    width: auto;
}

.tituloDos {
    font-size: 40px; 
    text-decoration: underline;

    background-image: linear-gradient(to right,#ffffff38, #ff4e00f8 , #ff4e00f8 , #ffffff38);
    width: auto;
}

.subtitulo {
    font-size: 30px;
    text-decoration: underline;
    display: block;

    background-color: #ff4d0081;
    width: auto;
}

.parrafo {
    margin: 20px;
    font-size: 30px;
}